#lOutput {
  width: 90%;
  box-sizing: border-box;
  border: thick solid black;
  margin: 0 auto;
  padding: 2em;

  font-size: 16pt;
}

#lOutput li.good {
  background: lime;
}

  #lOutput li.bad {
    background: red;
  }